body {
	background-image: url(../img/bg_img.png);
	background-size: cover;
}

.navbar {
	background-color: rgba(0, 0, 0, 0.4);
}

.navbar_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 80px;
	color: #FFFFFF;
}

.navbar_list_heading {
	text-transform: uppercase;
	flex-grow: 3;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	text-decoration: none;
	color: #FFFFFF;
}

.navbar_list_heading:hover {
	color: #01813F;
	transition: 0.4s;
}

.hover_text {
	text-decoration: none;
	color: #FFFFFF;
}

.hover_text:hover {
	color: #01813F;
}

.navbar_list_text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
}

.navbar_icons svg {
	fill: white;
	margin: 0 10px;
}

.svg_hover:hover {
	fill: #01813F;;
}

.navbar_list_text::before {
	content: '';
	border-left: 1px solid #6d6d6d6d;
	margin-right: 20px;
	vertical-align: middle;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 63px);
}

.container {
	width: 330px;
	height: 520px;
	background-color: #FFFFFF;
	padding: 30px 60px;
}

.login_var {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login_var_sign {
	color: #434343;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 20px;
	position: relative;
}

.login_var_sign::before {
	content: url("../img/green_sq.png");
	position: absolute;
	right: 108px;
}

.login_var_log {
	text-decoration: none;
	color: #3CB878;
}

.login_var_log:hover {
	color: #01813F;
	text-decoration: underline;
}

.link_to {
	display: flex;
	justify-content: space-between;
}

.link_settings {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 15px;
	width: 160px;
	height: 48px;
	border-radius: 6px;
	text-decoration: none;
	color: #FFFFFF;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
}

.link_to_fb {
	background-color: #305DB8;
}

.link_to_fb:hover {
	background-color: #022263;
}

.link_to_google {
	background-color: #DF4A32;
}

.link_to_google:hover {
	background-color: #AB1F09;
}

.link_to_fb:hover,
.link_to_google:hover {
	transition: 0.5s;
}

.link_text {
	display: flex;
	align-items: center;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
}

.link_text::before {
	content: url("../img/sign_line.png");
	margin-right: 30px;
}

.line_box {
	margin: 20px 0 11px;
	position: relative;
	display: flex;
	justify-content: center;
}

.separate_line {
	position: absolute;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	background-color: #ffffff;
	padding: 0 3px;
	color: #848484;

}

.line_box::before {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	position: absolute;
	top: 8px;
	background-color: #F2F2F2;
}

.sign_form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 415px;
}

.form_items {
	font-family: "Ubuntu", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	color: #BEBEBE;
	padding: 16px;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
}

.form_items:focus {
	outline: none;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
	color: #434343;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
}

.checkbox_form {
	display: flex;
	align-items: center;
}

.checkbox_text {
	color: #434343;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	margin: 0 3px;
}

.checkbox_link {
	text-decoration: none;
	color: #3CB878;
}

.checkbox_link:hover {
	text-decoration: underline;
	color: #01813F;
}

.submit_item {
	font-family: "Ubuntu", sans-serif;
	margin: 8px 0;
	padding: 14px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	background-color: rgba(60, 184, 120, 0.8);
	border: none;
	border-radius: 4px;
}

.submit_item:hover {
	background-color: #01813F;
	transition: 0.5s;
}

.checkbox_item {
	color: #434343;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
	display: inline-block;
	position: relative;
	padding-left: 28px;
	line-height: 20px;
	cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border: 1px solid #dddddd;
	background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
	border-radius: 2px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
	content: "";
	position: absolute;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
	left: 3px;
	top: 4px;
	width: 10px;
	height: 5px;
	border-radius: 1px;
	border-left: 4px solid #01813F;
	border-bottom: 4px solid #01813F;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
}

input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

